.container{
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;

}

.chartContainer{
    border-radius: 20px !important;
    background: linear-gradient(145deg, #ffffff)!important;
    box-shadow: 13px 13px 26px #c2c2c2, 
    -13px -13px 26px #ffffff !important;
    width:100%;
    padding: 10px;
}
@media (max-width: 770px){
    .container{
        width: 100%;
    }
}