.container{
    display: flex;
}

.card{
    align-items: center;
    border-radius: 20px !important;
    background: linear-gradient(145deg, #ffffff)!important;
    box-shadow: 13px 13px 26px #c2c2c2, 
    -13px -13px 26px #ffffff !important;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 250px;
    padding: 10px;
    margin: 15px;
}
.whiteBackground{
    background: white !important;
}

.infected{
    color:  rgba(0,0,255,0.8) !important;

}

.recovered{
    color:  rgba(0, 255, 119, 0.89);
}

.deaths{
    color:  rgba(255,0,0,0.8);
}

@media (max-width: 770px){
    .card {
        margin: 2% 0 !important;
    }
}
